html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("../../assets/images/music-desktop-backgrounds_090724251.jpg");
  background-repeat:   no-repeat;
  background-position: center center;
}

/* Fonts for Quote:  */
.DailyQuote {
  font-family: 'Noto Serif', serif;
  font-family: 'Roboto', sans-serif;  
  text-align: center;
  font-size: 35px;
}

#container {
  min-height: 100%;
  position: relative;
}

#header {
  padding: 20px;
  background-color: #24252a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

#body {
  padding: 10px;
  padding-bottom: 60px;

}

.col-s-3 {
/*update background wallpaper*/
  background-image: url("../../assets/images/Freetify-Anywhere-Anytime-2.png");
  background-repeat:   no-repeat;
  background-position: center center;
  width: auto;
  height: auto;
  background-color: #000000;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.menu {
  background-color: transparent;
  border: 1px solid rgb(96, 179, 207);
  padding: 10px;
  box-shadow: 5px 10px 18px lightblue;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

select {
  background: #363636;
  width: 275px;
  height: 35px;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font: size 12px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  border: 0;
  border-radius: 0;
}

.select-div {
  width: 270px;
  height: 22px;
  overflow: hidden;
  background: url(arrowhead.png) no-repeat right #363636;
  border-top: #575757 1px solid;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: inset 0 2px 4px rgba(107, 105, 105, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 8px 3px -9px #000000;
  -webkit-box-shadow: 0px 8px 3px -9px #000000;
  box-shadow: 0px 8px 3px -9px #000000;
}

select>option {
  background: rgb(175, 206, 244);
}

/* -------------------list items*/
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: #24252a;
  color: #fff;
}

/* ----------------------------Responsive Design Elements */
/* ----For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* ----For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 20%;
  }
  .col-s-3 {
    height: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* ----For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 20%;
  }
  .col-s-3 {
    height: 480px;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}